proj-frontend-2/node_modules
proj-frontend/node_modules
proj-frontend/build
proj-frontend-2/build
proj-frontend/firebase
proj-frontend/.firebaserc
proj-frontend/.firebase
proj-frontend-2/firebase
proj-frontend-2/.firebase
proj-frontend-2/.firebaserc
se_project.sql
rzp.csv
endpoints.txt
dump.sql
uids&pwdDoc.txt
data/*
stipeapi.txt
server/*
Backend/.env